@import "bootstrap";

#header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background-color: rgba(127, 255, 212, 0.4);
  padding: 10px;
  z-index: 1;
}

#footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(127, 255, 212, 0.6);
  padding: 10px;
}
.searches-card {
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  width: 30%;
}
#card1 {
  padding-bottom: 140px;
  min-height: 387px;
  width: 100%;
  transform: rotate(20deg);
  margin-right: 50px;
}
#card2 {
  width: 100%;
  transform: rotate(-20deg);
  margin-left: 50px;
}
#card3 {
  margin-top: 25px !important;
  min-width: 540px;
  max-width: 540px;
  margin: 0 auto;
}
.about-us-card {
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  background-color: bisque;
}
.about-pics {
  max-height: 300px;
  max-width: auto;
  margin: auto;
}
.img-buttons-container {
  max-height: 300px;
}
button.link-stacks.btn.btn-secondary {
  margin-left: 20px;
  margin: 30px;
}
.body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px;
}
.container {
  padding-bottom: 60px !important;
}
#about-title {
  text-align: center;
  padding-top: 125px;
}

#search-index-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px;
}

#city-show-body {
  display: inline-table;
  justify-content: space-around;
  margin: 100px;
}
